#Finance wallet
WILDFLY_SERVER_PORT=
WILDFLY_PAINEL_PORT=
EMAIL_SERVICE_USERNAME=
EMAIL_SERVICE_PASSWORD=

# PostgreSQL
DB_USER=
DB_USER_PASSWORD=
DB_HOST=
DB_PORT=

#Redis
REDIS_PASSWORD=
REDIS_PORT=
REDIS_URL_CONNECTION=
